body {
	background-image: url('../images/gallery_background.jpg');
	background-repeat: no-repeat;
	background-position: center;
	height: 900px;
	width: 100%;
}

body * {
	font-family: "Halvetica Neue", Helvetica, Arial, sans-serif;
}


img {
	display: inline-block;
	width: 100%;
	height: 500px;
	cursor: zoom-in;	


}

.navheader {
	width: 100%;
	height: 100px;
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 22px;
	color: #ffd400;
	display: block;
}

.nav li {
	display: inline-block;
	font-size: 22px;
	color: #ffd400;
	padding: 4px;
	border: 2px solid #FFFFFF;
	margin: 10px 10px;
	letter-spacing: 2px;

}



.nav li:hover {
	border-color: orange;
	cursor: pointer;
	background-color: #000000;
}

.navright {
	float: right;
}

.navleft {
	float: left;
}

a:visited, a, a:active {
	text-decoration: none;
	color: #ffd400;
}

li:hover {
	background-color: #000000;
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: #000000 !important;
}